asgiref==3.5.0
autopep8==1.5.4
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==5.3.1
Django==4.0.2
django-countries==7.2.1
django-environ==0.8.1
flake8==4.0.1
flake8-django==1.1.1
idna==3.3
isort==5.7.0
mccabe==0.6.1
Pillow==8.0.1
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.4
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
stripe==2.66.0
testfixtures==6.17.1
toml==0.10.2
tzdata==2021.5
urllib3==1.26.8
